---
layout: default
title: dev.p1k.se
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <svg width="283.465px" height="302px" viewBox="0 0 283.465 302">
      <g>
          <path fill="#2BB673" d="M143.899,27.667L28.701,95.969l40.198,66.364l5.659,108.334L111.232,242l-1.448-50.504L145.793,217
              l108.106-84.333l3.239-40.12L143.899,27.667z M144.899,118.512l-5.607-3.605l5.802-4.04l5.571,3.63L144.899,118.512z"></path>
      </g>
      <g>
          <polygon fill="#0A774A" points="145.793,174.206 28.701,95.969 31.899,136.333 40.565,244.667 74.558,270.667 68.91,162.547 145.793,217 "></polygon>
          <polygon fill="#0A774A" points="181.057,93.333 150.665,114.497 145.094,110.867 145.083,71.333 "></polygon>
      </g>
  </svg>
  
  {{ content }}

  {%- if site.github.public_repositories.size > 0 -%}
  {% assign repos = site.github.public_repositories | sort: "pushed_at" %}
  {%- assign date_format = site.minima.date_format | default:  "%Y-%m-%d %H:%M" -%}
    <h2 class="repo-list-heading">{{ page.list_title | default: "Repos" }}</h2>
    <ul class="repo-list">
       {% for repository in repos %}
            {% unless repository.fork %}
            <li class="inline-block">
              <span class="post-meta"></span>
              <h3>
              <a class="align-middle link-primary header-link mr-2"  href="{{repository.html_url}}">{{ repository.name  | escape }}</a>
                </h3>
            </li>
        {% endunless %}
     {% endfor %}
    </ul>


  {%- endif -%}

</div>


