---
layout: default
title: dev.p1k.se
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.github.public_repositories.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Repos" }}</h2>
    <ul class="post-list">
       {% for repository in site.github.public_repositories %}
            {% unless repository.fork %}
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <li class="inline-block">
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
              <a class="align-middle link-primary header-link mr-2"  href="{{repository.html_url}}">{{ repository.name  | escape }}</a>
                </h3>
            </li>
        {% endunless %}
     {% endfor %}
    </ul>


  {%- endif -%}

</div>


